<table *ngIf="taxis$ | async as taxis" mat-table [dataSource]="taxis" matSort>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bezeichnung</th>
    <td mat-cell *matCellDef="let taxi">{{ taxi.description }}</td>
  </ng-container>
  <ng-container matColumnDef="mileage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>KM-Stand</th>
    <td mat-cell *matCellDef="let taxi">{{ taxi.mileage }}</td>
  </ng-container>
  <ng-container matColumnDef="numberPlate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kennzeichen</th>
    <td mat-cell *matCellDef="let taxi">{{ taxi.numberPlate }}</td>
  </ng-container>
  <ng-container matColumnDef="registrationDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Zulassungsdatum</th>
    <td mat-cell *matCellDef="let taxi">{{ taxi.registrationDate | date }}</td>
  </ng-container>
  <ng-container matColumnDef="fin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>FIN</th>
    <td mat-cell *matCellDef="let taxi">{{ taxi.fin }}</td>
  </ng-container>
  <ng-container matColumnDef="concessionNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ordnungsnummer</th>
    <td mat-cell *matCellDef="let taxi">{{ taxi.concessionNumber }}</td>
  </ng-container>
  <ng-container matColumnDef="concessionDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Konzessionsdatum</th>
    <td mat-cell *matCellDef="let taxi">{{ taxi.concessionDate | date }}</td>
  </ng-container>
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Aktiv</th>
    <td mat-cell *matCellDef="let taxi">
      <mat-slide-toggle
        [(ngModel)]="taxi.active"
        (change)="toggleActive($event, taxi)"
      ></mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="add()">
        <mat-icon aria-label="Hinzufügen">add</mat-icon>
      </button>
    </th>

    <td mat-cell *matCellDef="let taxi">
      <button mat-icon-button color="accent" (click)="edit(taxi)">
        <mat-icon aria-label="Bearbeiten">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>
  <tr mat-row *matRowDef="let row; columns: columnKeys"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[10, 25, 50, 100]"
  [pageSize]="25"
  showFirstLastButtons
  aria-label="Wähle die Seite der Taxis"
>
</mat-paginator>
