<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button [routerLink]="'/drivers'">Fahrer</button>
    <button mat-button [routerLink]="'/taxis'">Taxen</button>
    <button mat-button [routerLink]="'/customers'">Kunden</button>
    <button disabled mat-button [routerLink]="'/destinations'">Orte</button>
    <button disabled mat-button [routerLink]="'/shifts'">Schichten</button>
    <button disabled mat-button [routerLink]="'/trips'">Fahrtensuche</button>
    <button disabled mat-button [routerLink]="'/driver-revenue'">
      Fahrerumsätze
    </button>
    <button disabled mat-button [routerLink]="'/treasury'">Kasse</button>
    <button disabled mat-button [routerLink]="'/worked-hours'">Stunden</button>
    <span class="spacer"></span>
    <tm-dark-mode-toggle></tm-dark-mode-toggle>
  </mat-toolbar-row>
</mat-toolbar>
